@mixin transition($prop, $time, $funct) {
	transition: $prop $time $funct;
	-webkit-transition: $prop $time $funct;
	-moz-transition: $prop $time $funct;
	-o-transition: $prop $time $funct;
	-ms-transition: $prop $time $funct;
}

@mixin box-sizing{
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	-ms-box-sizing:border-box;
}

@mixin btn-hover($color, $bg, $border){
	color: $color;
	background: $bg;
	border: 1px solid $border;

	&:hover, &:focus{
		color: $bg;
		background: $border;
	}
	&:active{
		background: rgba($border, 0.8);
	}
}
@mixin a-hover($color){
	color:$color;
	text-decoration: none;
	@include transition(all 0.5s ease);

	&:hover, &:active, &:focus{
		opacity: 0.8;
	}
}
@mixin form-elem(){
	outline: none;

	&:focus, &:hover{
		color: #ccc;
	}
}