$main-font: 'Raleway', sans-serif;
$font-color: #333333;
$haeder-color: #ffcc00;
$main-font-size: 14px; // font-size
$font-height: 1.5; // line-height
$font-weight: 400;
// $font-normal: 400;
// $font-bold: 900;
$main-bg: #fff;
// $h3-size: $main-font-size *3;

/* Grid variables */
$container-width: 1170px;
$col-padding: 15px;